.header-text {
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
}

/* social media icons size */
.icon {
    font-size: 30px;
}

#logo {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.bottom {
    justify-self: end;
}

#picture {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.work {
    transition: all 0.3s;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.3);
}
.work:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

#contact {
    padding: 0 0 0 0;
}
/* Sticker styling */
header h3 {
    z-index: 100;
}
.sticker-home {
    position: relative;
}
.sticker-upcoming {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(79, 241, 130);
    padding: 0 5px 0 5px;
    border-radius: 10px 0px 0px 0px;
    margin: 0;
    font-size: 10px;
    color: #000000;
    font-weight: 700;
}
