.header-text {
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
}

/* social media icons size */
.icon {
    font-size: 30px;
}

#logo {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.bottom {
    justify-self: end;
}

#picture {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.work {
    transition: all 0.3s;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.3);
}
.work:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

#contact {
    padding: 0 0 0 0;
}
/* Sticker styling */

.image-container {
    position: relative;
    overflow: hidden; /* Ensure the sticker doesn't overflow */
}

.sticker {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red; /* Initial red color */
    padding: 2px 10px 2px 10px;
    border-radius: 0 10px 0 0; /* Adjusted border-radius */
    z-index: 10; /* Ensure it's above other content */
    transition: all 0.3s ease; /* Smooth transition */
    text-align: left;
}

.sticker:before {
    content: "";
    position: absolute;
    top: 50%; /* Start the cutout from the middle vertically */
    right: -20px; /* Adjust the position of the triangular cutout */
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Height of the triangular cutout */
    border-bottom: 10px solid transparent; /* Height of the triangular cutout */
    border-left: 20px solid red; /* Width of the triangular cutout and color */
    transform: translateY(-50%); /* Adjust to vertically center the cutout */
}


.sticker p {
    margin: 0;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}
